@use "../base/variables" as *;

body {
    min-width: 400px;
    overflow-x: hidden;
}



.page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

.container-sm {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

}

.container-xs {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}