@use "../base/variables" as *;



.main-nav {
    position: sticky;
    top: 0;
    z-index: 1000;

    backdrop-filter: blur(10px);
    background: $nav;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    padding: 14px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */

.logo img {
    height: 42px;
    transition: transform 0.2s ease;
}

.logo:hover img {
    transform: scale(1.05);
}

/* LINKS */

.nav-links {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 24px;
}

/* LINK STYLE */

.nav-links a {
    position: relative;
    text-decoration: none;
    color: $text;
    font-weight: 500;
    transition: 0.2s;
}

/* underline animacija */

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: $primary;
    transition: 0.25s;
}

.nav-links a:hover::after,
.nav-links a.active::after {
    width: 100%;
}



/* HAMBURGER */

.nav-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 1100;
}

.nav-toggle span {
    width: 26px;
    height: 3px;
    background: $text;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* ANIMACIJA Į X */

.nav-toggle.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.nav-toggle.open span:nth-child(2) {
    opacity: 0;
}

.nav-toggle.open span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

.nav-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 900;
}

.nav-overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* MOBILE */

@media (max-width: $mobile) {

    .nav-toggle {
        display: flex; // 🔥 ŠITO TRŪKSTA
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: 0;
        height: 350px;
        width: 75%;
        max-width: 320px;

        background: white;

        flex-direction: column;
        align-items: flex-start;

        padding: 80px 25px;
        gap: 20px;

        box-shadow: -10px 0 30px rgba(0, 0, 0, 0.1);

        transform: translateX(120%);
        transition: 0.35s ease;
        z-index: 1000;
    }

    .nav-links.active {
        transform: translateX(0);
    }

    .nav-left,
    .nav-right {
        width: 100%;
        flex-direction: column;
        gap: 18px;
    }
}

body {
    overflow-x: hidden;
}