@use "../base/variables" as *;

/* ============================= */
/* ADMIN CONTAINER */
/* ============================= */

.admin-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}



/* ============================= */
/* ADMIN LAYOUT */
/* ============================= */

.admin-layout {
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 40px;
}

.admin-sidebar {
    background: $background;
    border-radius: 10px;
    padding: 10px;

}

.admin-sidebar h2 {
    margin-bottom: 25px;
}

.admin-sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.admin-sidebar a {
    text-decoration: none;
    color: $text;
}

.admin-sidebar a.active {
    font-weight: 600;
}

.admin-content {
    width: 100%;


}


.admin-content h1 {
    margin-bottom: 20px;
}

.admin-page-div {
    margin: 20px;
}


/* ============================= */
/* FILTER BAR */
/* ============================= */

.admin-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;


    margin-bottom: 30px;
}

.filter-status {
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

.filter-status a {
    text-decoration: none;
    color: $text;
}

.active-filter {
    font-weight: 600;
}

.filter-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-actions button {
    // margin-top: px;
}




/* ============================= */
/* BUTTONS */
/* ============================= */

button,
.btn {
    padding: 7px 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: 0.15s;
}

.btn-view {
    background: #e5e7eb;
    color: #111;

}

.back-btn {
    background: $back;
    color: #111;
    text-decoration: none;

}

.btn-edit {
    background: $completed;
    color: $white;
    padding: 7px 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: 0.15s;
    text-decoration: none;
}

.btn-approve {
    background: $approved;
    color: white;
}

.btn-delete {
    background: $pending;
    color: white;
}


/* ============================= */
/* STORIES */
/* ============================= */

.admin-story {
    display: flex;
    gap: 25px;

    border: 1px solid $border;
    border-radius: 12px;

    padding: 20px;
    background: $white;

    text-decoration: none;
    color: inherit;
    margin-top: 20px;

    transition: 0.2s;
}

.admin-story:hover {
    background: $background;
}

.story-image {
    width: 260px;
    height: 160px;
    flex-shrink: 0;
}

.story-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.story-info {
    flex: 1;
}

.story-author {
    color: $text-light;
}

.story-date {
    font-size: 14px;
    color: $text-light;
    margin-bottom: 10px;
}


/* ============================= */
/* STORY STATUS */
/* ============================= */

.story-status {
    margin-top: 6px;
    font-weight: 600;
}

.status-approved {
    color: $approved;
}

.status-pending {
    color: $pending;
}

.status-completed {
    color: $completed;
}


/* ============================= */
/* STORY ACTIONS */
/* ============================= */

.story-actions {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}


/* ============================= */
/* STORY SHOW */
/* ============================= */

.story-show {

    background: $white;

    padding: 30px;

    border-radius: 12px;

    border: 1px solid $border;

}

.story-title {

    margin-bottom: 15px;

}

.story-meta {

    display: flex;
    flex-direction: column;
    gap: 5px;

    margin-bottom: 5px;

    color: $text-dark;

}

.story-content {

    margin-bottom: 25px;

    max-width: 700px;

}


/* MAIN IMAGE */

.story-main-image {

    width: 100%;

    max-height: 500px;

    object-fit: cover;

    border-radius: 10px;

    margin-bottom: 25px;

    cursor: pointer;

}


/* GALLERY */

.story-gallery {

    display: grid;

    grid-template-columns: repeat(auto-fill, 120px);

    gap: 12px;

    margin-top: 15px;

}

.story-gallery img {

    width: 120px;
    height: 90px;

    object-fit: cover;

    border-radius: 8px;

    cursor: pointer;

    transition: 0.15s;

}

.story-gallery img:hover {

    transform: scale(1.05);

}

.gslide-image img {
    max-height: 85vh;
    object-fit: contain;
}


/* TAGS */

.story-tags {

    margin-top: 20px;
    margin-bottom: 20px;

}

.story-tags .tag {

    background: #e5e7eb;

    padding: 6px 10px;

    border-radius: 6px;

    margin-right: 6px;

}

/* ============================= */
/* STORY EDIT FIXES */
/* ============================= */

/* back button */

.back-btn {
    display: inline-block;
    margin-bottom: 20px;
}

/* edit card */

.story-edit-card {
    background: $white;
    border: 1px solid $border;
    border-radius: 12px;
    padding: 30px;
    max-width: 100%;
    margin: 20px 0;

}

/* tags alignment */

.story-edit-card .tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.story-edit-card .tag-chip {
    display: flex;
    align-items: center;
    gap: 6px;
}

/* gallery smaller */

.story-edit-card .admin-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    gap: 12px;
}

.story-edit-card .gallery-item img {
    width: 140px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

/* main image */

.story-edit-card .main-image img {
    max-width: 420px;
    width: 100%;
    border-radius: 10px;
}

.story-edit-form {

    display: flex;
    flex-direction: column;
    gap: 18px;

}

.form-group {

    display: flex;
    flex-direction: column;
    gap: 6px;

}

.form-group label {

    font-weight: 500;

}

.story-edit-form input,
.story-edit-form textarea {

    // width: 100%;
    padding: 10px 12px;

}


.story-edit-form textarea {

    min-height: 120px;
    resize: vertical;
    line-height: 1.5;

}

/* ============================= */
/* PAGINATION */
/* ============================= */

.admin-pagination {
    margin-top: 40px;
}

.admin-pagination-ui {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


/* PAGE NUMBERS */

.page-number {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    text-decoration: none;

    border: 1px solid $border;

    color: $text;

    font-weight: 500;

    transition: all 0.15s ease;
}

.page-number:hover {
    background: #f3f4f6;
    transform: scale(1.08);
}

.page-number.active {
    background: $primary;
    color: $white;
    border: none;
}


/* ARROWS */

.page-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 42px;
    height: 42px;

    border-radius: 50%;

    border: 1px solid #e5e7eb;

    text-decoration: none;

    font-size: 18px;
}

.page-btn:hover {
    background: #f3f4f6;
}

.page-btn.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.page-ellipsis {
    padding: 0 6px;
    color: #999;
}


/* ============================= */
/* TAGS */
/* ============================= */

.admin-tags {
    max-width: 700px;
}

.tags-actions {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.tag-create,
.tag-search {
    display: flex;
}

.tag-create input,
.tag-search input {
    margin-right: 10px;
    width: 100%;
}


/* TAG LIST */

.tags-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


/* TAG ROW */

.tag-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 18px;

    border: 1px solid $border;
    border-radius: 10px;

    background: $white;
}


/* TAG MAIN */

.tag-main {
    display: flex;
    flex-direction: column;
}

.tag-title {
    font-weight: 600;
}

.tag-count {
    font-size: 13px;
    color: $text-light;
}


/* TAG ACTIONS */

.tag-actions {
    display: flex;
    gap: 10px;
}


/* TAG EDIT */


.tag-edit {
    display: none;
    align-items: center;
    gap: 10px;
}

.tag-edit input {
    max-width: 220px;

}

.tag-edit.active {
    display: flex;
    margin: 0 20px
}

.tag-edit form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-cancel {
    background: #e5e7eb;
}


/* ============================= */
/* GALLERY */
/* ============================= */

.admin-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.gallery-item {
    width: 200px;
}

.gallery-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.main-image img {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}


/* ============================= */
/* RESPONSIVE */
/* ============================= */

@media (max-width: $tablet) {

    .admin-layout {
        grid-template-columns: 1fr;
    }

    .admin-sidebar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .admin-sidebar nav {
        flex-direction: row;
        gap: 15px;
        font-size: 15px;
    }

    .filter-actions {

        display: flex;
        align-items: center;
        gap: 10px;

    }

    .pagination {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }


    input,
    select,
    textarea {
        padding: 8px 20px;
        border: 1px solid $border;
        border-radius: 6px;
        font-size: 13px;
    }

}

@media (max-width: $mobile) {

    .admin-story {
        flex-direction: column;
    }

    .story-image {
        width: 100%;
        height: auto;
    }

    .story-image img {
        height: auto;
    }

    .admin-filters {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .admin-search {

        display: flex;
        align-items: center;

    }

    .admin-sidebar {
        display: flex;
        flex-direction: column;
    }

    .admin-search input {

        border-radius: 6px 0 0 6px;
        border-right: none;
        width: 220px;

    }

    .admin-search button {

        border-radius: 0 6px 6px 0;

        background: $border;
        color: $white;

        padding: 7px 12px;

    }

    .tags-actions {
        flex-direction: column;
        gap: 10px;
    }

    .tag-row {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .tag-edit form {
        flex-direction: column;
        align-items: flex-start;
    }

    .story-actions {
        flex-wrap: wrap;
    }

    .filter-actions {

        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 12px;

    }

    .filter-status {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;

        justify-content: space-between;
    }



    .admin-pagination-ui {

        gap: 6px;

    }

    .page-number {

        width: 34px;
        height: 34px;

        font-size: 14px;

    }

    .page-btn {

        width: 34px;
        height: 34px;

    }



    h2 {
        display: flex;
        justify-content: center;
    }

    select {
        padding: 8px 12px;
        border: 1px solid #d1d5db;
        border-radius: 6px;
        font-size: 14px;
    }



    select:focus {
        outline: none;
        border-color: $primary;
    }

}