@use 'variables' as *;

button {
    padding: 8px 14px;
    background: #2c6ebd;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background: #1f4f8b;
}



.btn {
    border: none;
    border-radius: 8px;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 14px;
}

.btn-primary {
    background: #e0e7ff;
    color: #1e40af;
}

.btn-danger {
    background: #fee2e2;
    color: #991b1b;
}