@use "variables" as *;

.btn-primary {
    background: $primary;
    color: $white;
    padding: 14px 28px;
    border-radius: 25px;
    text-decoration: none;
}

.btn-primary:hover {
    background: $primary-hover;
    transition: 0.5s;
}

.btn-secondary {
    border: 1px solid $primary;
    color: $primary;
    padding: 14px 28px;
    border-radius: 25px;
    text-decoration: none;
}

.btn-secondary:hover {
    background: $primary;
    color: $white;
    transition: 0.5s;
}

.create-btn {
    margin-top: 10px;
    padding: 12px;
    background: $primary;
    color: $white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.create-btn:hover {
    background: $primary-hover;
}


.donate-btn {
    display: inline-block;
    width: 50%;
    justify-content: center;
    padding: 10px;
    text-align: center;

    background: $primary;
    color: $white;

    border-radius: 25px;
    text-decoration: none;
}

.btn-primary-donate {
    display: inline-block;
    width: 35%;
    height: 36px;
    justify-content: center;
    padding: 10px;
    text-align: center;

    background: $primary;
    color: $white;

    border-radius: 25px;
    text-decoration: none;
}

.btn-delete-story {
    background: $delete;
    color: $white;
    padding: 14px 28px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;

}

.btn-delete-story:hover {
    background: $delete-hover;
}

.logout-btn {
    background: $primary;
    border: none;
    color: $white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}

.logout-btn:hover {
    background-color: $primary-hover;
}