@use "variables" as *;

.btn-primary {
    background: $primary;
    color: white;
    padding: 14px 28px;
    border-radius: 25px;
    text-decoration: none;
}

.btn-primary:hover {
    background: $primary-hover;
}

.btn-secondary {
    border: 1px solid $primary;
    color: $primary;
    padding: 14px 28px;
    border-radius: 25px;
    text-decoration: none;
}

.create-btn {
    margin-top: 10px;
    padding: 12px;
    background: $primary;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.create-btn:hover {
    background: $primary-hover;
}