$font-main: 'Poppins', sans-serif;


$primary: #3a7d44;
$primary-hover: #2f6637;

$text-dark: #222;
$text: #333;
$text-light: #555;
$text-muted: #666;
$nav: #faf9f9;
$gray: #ddd;

$border: #ccc;
$border-light: #ddd;

$background: #edf6ed;
$white: #ffffff;


$approved: #369c5c;
$back: #dcdcdc;
$warning: #e6a23c;
$pending: #be3e3e;


$completed: #3159b1;



$success-bg: #e6ffe6;
$tag-hover: rgba(0, 0, 0, 0.05);

$shadow-focus: 0 0 0 2px rgba(58, 125, 68, 0.15);


$mobile: 840px;
$tablet: 1024px;
$desktop: 1200px;